logs
nashorn_code_cache
project/project
project/target
target
tmp
.history
dist
.idea
/.metadata
.project
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
node_modules
atlassian-ide-plugin.xml
/log
/*.log